.card {
  background-color: rgb(224, 224, 224);
  color: rgb(45, 45, 45);
  padding: 1em;
  width: fit-content;
  box-shadow: 3px 3px 5px 3px rgb(210, 210, 210);
  border-radius: 5pt;
  min-width: 275;
}

.title {
  font-size: 14;
}